:host {
  margin: 20px;
  display: flex;
  box-shadow: 3px 3px 9px lightgray;
  border-radius: 5px;
  background: rgba(239, 239, 239, 0.7);
  overflow: hidden;
  .title {
    padding: 10px 15px;
    font-size: 28px;
    font-weight: 600;
    color: #333;
    display: flex;
    flex-flow: column;
    flex: 1 0 auto;
    .desc {
      color: #807f7f;
      font-weight: 400;
      font-size: 18px;
    }
  }
  .logo {
    flex: 0 0 auto;
    padding: 10px;
    &:hover {
      background: rgba(255, 255, 255, 0.7);
    }
    a {
      display: flex;
    }
    img {
      width: 60px;
      height: 60px;
    }
  }
}

